@charset "UTF-8";

body{
    background-color: rgb(141, 141, 255);
    font: normal 15pt Arial;
}

header{
    text-align: left;
    color: white;
}

header > h1{
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
}

div{
    text-align: left;
    padding: 8px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}